@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 { 
  @apply text-3xl font-light mb-6; 
}

h2 { 
  @apply text-xl font-light; 
}

.outer-content-wrapper { 
  @apply container mx-auto px-4; 
}

@keyframes bounceX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25%);
  }
}

@keyframes popIn {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(.9);
    opacity: 0;
  }
}

@keyframes popDown {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes popUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-5%);
  }
}